{{!-- 
  /
--}}

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <section id="navbar" class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'application' class="navbar-brand"}}
        {{appName}}
      {{/link-to}}
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">

        {{#each item in mainMenu}}
        <li>{{#link-to item}}go to:{{item}}{{/link-to}}</li>
        {{/each}}

      </ul>
      <ul class="nav navbar-nav pull-right">
      
        {{!-- TODO: Implement if logic to display user menu if signed in --}}
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Signin/Signup<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              {{#link-to 'users.signin'}}Signin{{/link-to}}
            </li>
            <li class="divider"></li>
            <li>
              {{#link-to 'users.signup'}}Signup{{/link-to}}
            </li>
            {{!-- 
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
            --}}
          </ul>
        </li>

      </ul>
    </div>

  </section>
</div>

<div id="wrapper">
  {{outlet}}
</div>