<section>
    <header>
        <h1>Understanding mustache templates</h1>
    </header>
    <div>
        <h3>Simple Variable</h3>
        <p>{{mst.eVariable}}</p>
        <p>{{{mst.uVariable}}}</p>
        
        <hr>
        
        <h3>If it exists do something</h3>
        {{#mst.eVariable}}
        <p>It is truthy</p>
        {{/mst.eVariable}}
        
        <hr>
        
        <h3>A collection iterating on the items (array of objects)</h3>
        <ul>
            {{#mst.aCollection}}
            <li>{{item}}</li>
            {{/mst.aCollection}}
        </ul>

        <hr>

        <h3>Lambdas and Callable Objects</h3>
        <p>
            {{#mst.lambdy}}
                {{ mst.disDude }}, is awesome
            {{/mst.lambdy}}
        </p>
        <hr>

        <h3>Non-falsy values</h3>
        <p>
            Dudly, {{#mst.duDu}}{{#mst.lambdy}} {{content}} {{/mst.lambdy}}{{/mst.duDu}}
        </p>
        <hr>

        <h3>Inverted Sections</h3>
        {{#mst.thisIsFalse}}
        <p>This text is not being rendered because the value of thisIsFalse is not truthy</p>
        {{/mst.thisIsFalse}}

        {{^mst.thisIsFalse}}
        <p>
            Since I'm in an inverted section, this text will be rendered 
            {{! except for this comment text here }}
        </p>
        {{/mst.thisIsFalse}}
        <hr>

        <h3>Fun with partials</h3>
        {{>dudu}}
        <hr>

        <h3>Changing the delimiters</h3>
        {{=<% %>=}}
        <p>You can change the delimiters to make the code look 
            <%#mst.lambdy%>
                <%mst.forNewDelims%>
            <%/mst.lambdy%>
        </p>
        <p>It does look <%& mst.forUnscapedNewDelims %>, doesn't it?</p>
        <%={{ }}=%>
    </div>
</section>