{{! 
  Insert HTML head and change the default delimiters for Hogan
}}
{{>head}} 
{{=<% %>=}}

  <!--
  -->
  <script type="text/x-handlebars">

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <section id="navbar" class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{appName}}</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

          {{#each item in mainMenu}}
          <li>{{#link-to item}}go to:{{item}}{{/link-to}}</li>
          {{/each}}

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
  </div>
      {{outlet}}
  </script>

  <script type="text/x-handlebars" id="index">
    <h1>{{title}}</h1>
    <div class="main">

    </div>
  </script>

  <script type="text/x-handlebars" id="emberlearn">
    <div class="main">
    <h1>Woorf Woorf</h1>
      
      <h3>Listies and iteration</h3>
      <ul>
        {{#each dude in dudes}}
        <li>{{dude}}</li>
        {{/each}}
      </ul>
      
      <h3>Scope change</h3>
      {{#with dudlies}}
      <p>{{d1}} is a friend of {{d2}} who does not like {{d3}}</p>
      {{/with}}

      <h3>Attributes</h3>
      <p><a {{bind-attr href=someUrl}}>Linkie</a></p>
    </div>
  </script> 

<%! 
  Revert to default delimiters for Hogan and insert HTML tail
%>
<%={{ }}=%>
{{>tail}}
