<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{appTitle}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../../app/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/css/main.css">
    <script src="lib/modernizr/modernizr.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- bower:js -->
    <script src="../../app/lib/jquery/dist/jquery.js"></script>
    <script src="../../app/lib/handlebars/handlebars.js"></script>
    <script src="../../app/lib/ember/ember.js"></script>
    <script src="../../app/lib/ember-data/ember-data.js"></script>
    <script src="../../app/lib/ember-localstorage-adapter/localstorage_adapter.js"></script>
    <script src="../../app/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <script src="js/app-init.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/router.js"></script>
    <script src="js/controllers/application.js"></script>
    <script src="js/controllers/index.js"></script>
    <script src="js/controllers/emberlearn.js"></script>
    <!--
    <script src="js/store.js"></script>
    <script src="js/models/user.js"></script>
    -->
    

</body>

</html>
