$background-color: #ddd;

body {
  background-color: $background-color;
  padding-top: 60px;
}

#menu{
	width:200px;
	height:400px;
	border-radius:15px;
	box-shadow:0 0 5px black;
	background: linear-gradient(black, #111111);
}